row.success-row {
    background-color: @green_1;
}

button.green-button {
	background-color: @green_1;
}

timeline-view {
    border-radius: 8px;
}

timeline-ticker {
    color: @dark_4;
    background-color: @brown_1;
    padding: 4px;
    border-radius: 8px;
}

timeline-row {
    background-color: @light_2;
    padding: 4px;
    border-radius: 8px;
}
