row.success-row {
    background-color: @green_1;
}

button.green-button {
	background-color: @green_1;
}

timeline-ticker {
    background-color: @light_3;
    padding: 4px;
    border-radius: 8px;
}
