row.success-row {
    background-color: @green_5;
}

button.green-button {
	background-color: @green_5;
}

timeline-ticker {
    background-color: @brown_2;
}

timeline-row {
    background-color: @dark_3;
}
