row.success-row {
    background-color: @green_1;
}

button.blue-button {
	background-color: @blue_1;
}
button.green-button {
	background-color: @green_1;
}

tabbar .end-action {
	background-color: @headerbar_bg_color;
}
tabbar .end-action button {
	margin-left: 4px;
	border-radius: 6px;
}
